* {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;

}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;

  
}
.centro{
  scroll-behavior: smooth;
max-width: 80vw;
height: auto;
}